@page "/vendas/{Id:int}"
@inject NavigationManager Navigation
@inject billet_2.Services.EventoService EventoService

@* 1. TOPO DA TELA CENTRALIZADO *@
<nav class="navbar-top">
    <a href="/" class="brand-button">
        BiLleT*
    </a>
</nav>

@if (evento == null)
{
    <p>Carregando...</p>
}
else
{
    <div class="hero-container">
        <img src="@evento.FotoUrl" class="img-fundo-blur" alt="Fundo Desfocado" />
        <div class="hero-content">
            <div class="card-frente-container">
                <img src="@evento.FotoUrl" class="img-card-frente" alt="@evento.Nome" />
            </div>
            <div class="evento-info">
                <h1 class="evento-nome">@evento.Nome</h1>
                <p class="evento-descricao">@evento.Descricao</p>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]

    public int Id { get; set; }
    private billet_2.Models.Evento? evento;
    protected override async Task OnInitializedAsync()
    {
        evento = await EventoService.BuscarPorIdAsync(Id);
    }
    private void VoltarParaHome()
    {
        Navigation.NavigateTo("/");
    }
}

